<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcl.wechat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    
    <instrumentation 
        android:name="android.test.InstrumentationTestRunner" 
        android:targetPackage="com.tcl.wechat"></instrumentation>

    <application
        android:name=".WeChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 主界面 -->
        <activity
            android:name="com.tcl.wechat.ui.activity.MainActivity"
            android:label="@string/app_name" 
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.DELETE"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 用户信息显示界面 -->
        <activity android:name="com.tcl.wechat.ui.activity.PersonalInfoActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- 好友信息显示界面 -->
        <activity android:name="com.tcl.wechat.ui.activity.FriendInfoActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- 聊天界面 -->
        <activity android:name="com.tcl.wechat.ui.activity.ChatActivity"
            android:theme="@android:style/Theme.Translucent"
            android:launchMode="singleInstance"/>
        <!-- 联系人列表界面 -->
        <activity android:name="com.tcl.wechat.ui.activity.FriendListActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- 登录界面 -->
        <activity android:name="com.tcl.wechat.ui.activity.LoginActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- 用户注册界面 -->
        <activity android:name="com.tcl.wechat.ui.activity.RegisterActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- 添加好友界面 -->
        <activity android:name="com.tcl.wechat.ui.activity.AddFriendActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- 视频播放界面 -->
        <activity android:name="com.tcl.wechat.ui.activity.VideoPlayerActivity"
            android:theme="@style/PlayerViewStyle"/>
        
        <!-- appWidget -->
        <receiver 
            android:name="com.tcl.wechat.widget.WeChatWidget"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/layout_appwidget" />
        </receiver>
        
        <!-- 启动应用消息接收器 -->
        <receiver
            android:name="com.tcl.wechat.receiver.StartAppReceiver">
            <intent-filter >
                <action android:name="com.tcl.action.MAINVIEW"/>
                <action android:name="com.tcl.action.USERINFO"/>
                <action android:name="com.tcl.action.PLAYVIEW"/>
                <action android:name="com.tcl.action.CHATVIEW"/>
            </intent-filter>
        </receiver>
        
        <!-- 媒体播放类接收器 -->
        <receiver 
            android:name="com.tcl.wechat.receiver.MediaActionReceiver">
            <intent-filter >
                <action android:name="com.tcl.action.play.video"/>
                <action android:name="com.tcl.action.play.sound"/>
                <action android:name="com.tcl.action.show.pic"/>
            </intent-filter>
        </receiver>
        
        <uses-library android:name="android.test.runner"/>
    </application>

</manifest>
